@import './reset.css';
@import './lato-styles.css';
@import './fontawesome/css/fontawesome.min.css';
@import './fontawesome/css/solid.min.css';
@import './fontawesome/css/brands.min.css';

:root {
  /* --app-background: linear-gradient(to bottom, rgb(14, 22, 29), rgb(26, 40, 52)); */
  --app-background: radial-gradient(circle at bottom left,  rgba(14, 22, 29, .20) 30%, rgba(14, 22, 29, 0) 0),
  radial-gradient(circle at top right,  rgba(14, 22, 29, .20) 30%, rgba(14, 22, 29, 0) 0),
  linear-gradient(305deg, rgba(14, 22, 29, 1) 0%,rgba(26, 40, 52, 1) 100%);

  --text-color: #ecf7ff;
  --active-color: #4ed963;
  --active-color-highlight: rgba(148, 189, 154, 0.15);
  --alert-color: #f6730c;
  --button-idle-color: #2b353d;
  --button-border-color: #555555;
  --card-background: rgba(255, 255, 255, 0.05);
  --card-border: solid 1px #555555;
  --card-button-background: none;
  --card-button-border: solid 1px var(--text-color);
  --modal-border-color: #ecf7ff;
  --modal-backdrop-color: rgba(0, 0, 0, 0.5);
}

/*----------------------------------------
/* Standardized headers & texts
*----------------------------------------*/

html {
  font-family: 'Lato';
  font-weight: 300;
  height: 100%;
}

body {
  font-family: 'Lato';
  background: var(--app-background);
  color: var(--text-color);
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: var(--text-color);
}

/*----------------------------------------
/* Interactive Elements
*----------------------------------------*/

button {
  font-size: 1.5rem;
  color: var(--text-color);
  background: var(--button-idle-color);
  border: solid 1px var(--button-border-color);
  border-radius: 10px;
}

button:active {
  background: var(--active-color);
}

.button-danger {
  background: var(--alert-color);
  font-weight: bold;
}

.error {
  z-index: 1000;
}
.warning {
  z-index: 999;
}
.notice {
  z-index: 998;
}

.Vue-Toastification__toast-body {
  font-size: 2em !important;
}


#app {
  height: 100vh;
}

/*----------------------------------------
* animations
*----------------------------------------*/

.fade-in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/*----------------------------------------
* Layout styles
*----------------------------------------*/
.pad-10 {
  padding: 10px;
}

.flex {
  display: flex;
}

.flex-col { 
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.fill-horiz {
  width: 100%;
}

.fill-vert {
  height: 100%;
}

.horizontal-center {
  justify-content: center;
}

.vertical-center {
  align-items: center;
}

.alert {
  color: var(--alert-color);
}

.active {
  background: var(--active-color);
}

.horizontal-activity {
  max-width: 90vw;
  overflow-x: scroll;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.vertical-activity {
  max-height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.justify-left {
  justify-content: left;
}

.vertical-center {
  justify-content: center;
}

.modal-backdrop {
  background-color: var(--modal-backdrop-color);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.close-button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: none;
  font-size: 2rem;
}
